body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    margin: 0;
}

.heart-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-button {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #aa1824;
    transform: rotate(-45deg);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.heart-button::before,
.heart-button::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #aa1824;
    width: 100px;
    height: 100px;
}

.heart-button::before {
    top: -50px;
    left: 0;
}

.heart-button::after {
    left: 50px;
    top: 0;
}

#kadoMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -140%); /* Merkeze yerleştirme */
    color: #c2c2c2; /* Yazı rengi beyaz */
    font-size: 40px; /* Yazı boyutu */
    font-family: 'Pacifico', cursive;
    opacity: 0; /* Başlangıçta görünmez */
    transition: opacity 0.3s ease; /* Geçiş efekti */
    z-index: 10; /* Yazıyı öne almak için */
}

/* Hover efekti */
.heart-button:hover {
    background-color: #ff0000;
}

.heart-button:hover::before,
.heart-button:hover::after {
    background-color: #ff0000;
}

/* Aktif durum için butona kalp animasyonu */
.heart-button:active {
    transform: scale(1.1) rotate(-45deg);
}

.heart-button {
    box-shadow: none;
}

/* Aktif durumdayken (JS ile tetiklenecek) */
.heart-button.active {
    box-shadow: 0 0 50px 100px rgba(87, 0, 0, 0.87), 
                0 0 50px 25px rgba(114, 2, 2, 0.719),
                0 0 50px 50px rgba(143, 19, 2, 0.767);
    transform: scale(1.1) rotate(-45deg);
}

/* Beğeni sayısı stili */
.like-counter {
    margin-top: 10px;
    font-size: 18px;
    color: #fff; /* Yazı rengini beyaz yaptık */
}